APP_PORT=3000
API_PREFIX=api

# Database config
DB_HOST=localhost
DB_NAME=main_db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=1234
DB_LOGGING=1

# JWT config
JWT_ACCESS_LIFETIME=1 # amount of hours
JWT_REFRESH_LIFETIME=720 # amount of hours
JWT_SECRET="M2SDKUstVpmpCDnF8VFmVgPFTa5"

# Redis config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=root
REDIS_PASSWORD=1234
REDIS_DB=0

# Restrictions
MAX_LOGIN_ATTEMPTS=5
MAX_LOGIN_ATTEMPTS_EXPIRATION=3600 # amount of seconds
MAX_WALLETS_PER_USER=3
